.my-phone-navigation {
  min-height: 74px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 -1px 5.7px 0 rgba(219, 219, 219, 0.25);
  display: flex;
  align-items: center;
  // new added to fixed
  position: fixed;
  bottom: 0;
  width: 100%;
  .container {
    padding: 0 13px;
    width: 100%;
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .menu-item {
      cursor: pointer;
      position: relative;
      .icon-wrapper {
        text-align: center;
        .icon {
          width: 24px;
          height: 24px;
          color: rgba(141, 144, 155, 1);
          margin: 0 auto;
        }
        .active {
          color: rgba(255, 80, 0, 1);
        }
      }
      .icon-title {
        color: rgba(141, 144, 155, 1);
        font-weight: 500;
        font-size: 12px;
        margin-top: 3px;
      }
      .active {
        color: rgba(255, 80, 0, 1);
      }
      .qty-btn {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: rgba(239, 35, 60, 1);
        color: white;
        font-weight: 500;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        right: 6px;
      }
    }
  }
}
