$main_bg_color: "#F0F2F3";
$phone_screen: 375px;
$tablet_screen: 700px;

@mixin media($max_width) {
  @media (max-width: $max_width) {
    @content;
  }
}
// @font-face {
//   font-family: "Inter";
//   src: url();
// }

.my-header {
  .top-header {
    height: 88px;
    width: 100%;
    background-color: #f0f2f3;
    display: flex;
    align-items: center;
    @include media(450px) {
      background-color: #fff;
      height: 76px;
      padding-top: 4px;
    }
    .container {
      padding: 0 10px;
      width: 100%;
      max-width: 1150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      gap: 5px;
      .brand-wrapper {
        display: flex;
        gap: 16px;
        align-items: center;
        font-weight: 500;
        color: #272343;
        cursor: pointer;
        @include media(450px) {
          gap: 8px;
        }
        img {
          width: 40px;
          height: 38px;
          border-radius: 50%;
        }
        h1 {
          font-size: 22px;
          transition: all 300ms ease;
          font-weight: 700;
          @include media(550px) {
            font-size: 20px;
          }
        }
      }
      // .input-wrapper {
      //   position: relative;
      //   max-width: 489px;
      //   width: 100%;
      //   @include media(1030px) {
      //     display: none;
      //   }
      //   input {
      //     background-color: white;
      //     border-radius: 5px;
      //     padding-left: 40px;
      //     height: 38px;
      //     width: 100%;
      //     border: none;
      //   }
      //   input:focus {
      //     outline: none;
      //   }
      //   input::placeholder {
      //     color: #9a9caa;
      //   }
      //   .search-btn {
      //     position: absolute;
      //     top: 11px;
      //     left: 16px;
      //     width: 16px;
      //     height: 16px;
      //     opacity: 70%;
      //   }
      // }
      .buttons-wrapper {
        display: flex;
        align-items: center;
        gap: 18px;
        .cart-btn {
          width: 106px;
          height: 38px;
          border-radius: 8px;
          border: none;
          background-color: white;
          display: flex;
          gap: 18px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @include media(550px) {
            width: 100px;
            height: 33px;
          }
          @include media(450px) {
            display: none;
          }
          .cart-inner {
            display: flex;
            align-items: center;
            gap: 8px;
            h5 {
              font-size: 11px;
              font-weight: 600;
            }
            @include media(550px) {
              gap: 5px;
            }
          }
          .quantity-btn {
            width: 14px;
            height: 14px;
            background-color: #ff5000;
            border-radius: 50%;
            color: white;
            font-weight: 500;
            font-size: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .like-btn {
          width: 38px;
          height: 38px;
          border-radius: 8px;
          background-color: white;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media(550px) {
            width: 33px;
            height: 33px;
          }
          @include media(450px) {
            display: none;
          }
          img {
            @include media(550px) {
              scale: 0.9;
            }
          }
        }
        .user-btn {
          width: 38px;
          height: 38px;
          border-radius: 8px;
          background-color: white;
          border: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media(550px) {
            width: 33px;
            height: 33px;
          }
          @include media(450px) {
            display: none;
          }
          img {
            @include media(550px) {
              scale: 0.9;
            }
          }
        }
        .notification-btn {
          display: none;
          cursor: pointer;
          padding-right: 3px;
          position: relative;
          @include media(450px) {
            display: block;
            padding-right: 8px;
          }
          .cart-icon {
            width: 24px;
            height: 24px;
            color: rgb(44, 45, 48);
          }
          .quantity-div {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #ff5000;
            font-size: 10px;
            border-radius: 50%;
            position: absolute;
            top: -6px;
            right: -3px;
            @include media(450px) {
              right: -2px;
            }
          }
        }
      }
    }
  }
  .phone-screen-input {
    height: 40px;
    display: none;
    position: relative;
    // width: 95%;
    padding: 0 10px;
    margin: 0 auto;
    @include media(450px) {
      display: block;
    }
    input {
      background-color: rgba(244, 247, 248, 1);
      border-radius: 4px;
      padding-left: 40px;
      height: 40px;
      width: 100%;
      border: none;
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      color: #9a9caa;
      font-size: 13px;
    }
    .search-btn {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 22px;
      height: 22px;
      color: rgba(141, 144, 155, 1);
      opacity: 90%;
    }
  }
  .loading-result {
    padding-left: 12px;
  }
  .results {
    padding-bottom: 3px;
  }
  .result-div {
    position: absolute;
    max-width: 36%;
    width: 100%;
    z-index: 50;
    margin: 0 auto;
    transform: translateX(83%);
    background-color: white;
    // border: 0.5px solid rgb(214, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    @include media(1030px) {
      display: none;
    }
    @include media(450px) {
      display: block;
      max-width: 94%;
      transform: translateX(0);
    }
    .result-result {
      gap: 15px;
      .car-name {
        font-size: 12px;
        color: rgb(34, 33, 33);
      }
    }
  }
  .bottom-header {
    height: 88px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    @include media(450px) {
      display: none;
    }
    .container {
      padding: 0 10px;
      width: 100%;
      max-width: 1024px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      .menus-wrapper {
        display: flex;
        align-items: center;
        gap: 26px;
        .dropdown-btn {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 18px;
          border: 1px solid #e1e3e5;
          padding: 14px 27px 14px 16px;
          border-radius: 6px;
          .active {
            color: #ff5000;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            color: #000000;
          }
          .dropdown-icon {
            width: 16px;
            height: 14px;
            color: #272343;
          }
        }
        .menu-list {
          display: flex;
          gap: 26px;
          align-items: center;
          list-style: none;
          color: #636270;
          font-weight: 500;
          font-size: 14px;
          @include media(1030px) {
            display: none;
          }
          li {
            cursor: pointer;
            transition: all 400ms ease;
          }
          li:hover {
            color: #ff5000;
          }
          .active {
            color: #ff5000;
          }
        }
      }
      .contact-wrapper {
        p {
          color: #636270;
          font-size: 14px;
        }
        span {
          color: #272343;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    border-bottom: 1px solid #e1e3e5;
  }
}
